.contact{
    display: flex;
    /* height: 120vh; */
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    z-index: -100;
    opacity: 0.6;
}
.box{
    width: 70%;
    /* height: 80vh; */
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff2e;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
}
.center{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
}
.social img{
    width: 4rem;
    height: 3rem;
    transform: scale(0.8);
    cursor: pointer;
    transition: 0.8s;
}
.social img:hover{
    transform: scale(1.01);
}
.c-left{
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem 0 2rem;
}
.c-left>:nth-child(1){
    color: #000;
    font-size: 2.5rem;
    font-weight: bold;
}
.c-left>:nth-child(2){
    color: #000;
    font-size: 2.5rem;
    font-weight: bold;
}
.c-left>:nth-child(4){
    font-size: 20px;
    margin-top: 4rem;
}
.c-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 2rem 0 0 0;
}
.c-right>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    box-shadow: 0 .5rem 1rem rgba(194, 192, 192, 0.10)!important;
    font-size: 16px;
}
textarea{
    height: 4rem!important;
}
.c-blur1{
   top: 1rem;
   left: 8rem;
}

@media screen and (max-width: 480px){
    .contact{
        flex-direction: column;
        margin: 0px;
    }
    .c-left{
        margin-top: 0px;
        align-items: center;
        padding-bottom: 0px;
    }
    .c-right>form{
        width: 100%;
    }
    .c-right .user{
        width: 80%;
    }
    .center{
        flex-direction: column;
    }
    .box{
        /* height: 130vh; */
    }
}
@media (min-width: 480px) and (max-width:900px){
    .contact{
        flex-direction: column;
        margin: 0px;
    }
    .c-left{
        margin-top: 0px;
        align-items: center;
        padding-bottom: 0px;
    }
    .c-right>form{
        width: 70%;
    }
    .c-right .user{
        width: 80%;
    }
    .center{
        flex-direction: column;
    }
    .box{
        /* height: 110vh; */
    }
}