.Nav {
    display: flex;
    font-size: 20px;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    transition: all;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 10vh;
    color: black;
    z-index: 67;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.10)!important;
    backdrop-filter: blur(10px);
}
.Nav h1{
    font-family: "Mrs Saint Delafield";
    font-size: 3rem;
    font-weight: 400;
    margin-left: 90px;
    color: white;
}
.Nav ul a:hover{
   cursor: pointer;
   transform: scale(1.1);
}
.Nav-menu {
    display: flex;
    list-style-type: none;
}

.Nav-menu li {
    padding: 0 2rem;
    color: white;
    font-size: 25px;
}
@media screen and (max-width: 480px){
    .Nav{
        flex-direction: column;
        margin-top: 3px;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .Nav h1{
        margin-left: 0px;
    }
    .Nav-menu{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .Nav-menu li {
        font-size: 25px;
        padding: 0 10px;
    }
}
.transparency-removed{
    background-color: rgba(0,0,0,.10);
    transition: all;
}
@media screen and (min-width: 480px) and (max-width:900px){
    .Nav{
        flex-direction: column;
        margin-top: 3px;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .Nav h1{
        margin-left: 0px;
    }
    .Nav-menu{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .Nav-menu li {
        font-size: 25px;
        padding: 0 10px;
    }
}
