@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Roboto+Slab:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  width: 100%;
  overflow-x: hidden;
  
}
body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url(asset/background4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
h2,
h4,
p,
a {
  color: black;
  text-decoration: none;
}
.btn{
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px ;
  background: linear-gradient(180deg, #fde50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 5px 10px 3px rgba(251,161,40,0.42);
  
}
.btn-light{
  flex: 2;
  width: 6rem;
}
.btn:hover{
  background: rgba(255,255,255,0.2);
  color: #000;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #fde50f;
  
}