.projects {
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
}
.pr{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.493);
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
}
.pr-left{
    flex: 1.2;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
}
.pr-left ul li{
    text-decoration: none;
    list-style-type: none;
    padding: 3px;
    font-size: 20px;
    padding-left: 10px;
}
.pr-right{
    flex: .8;
}
.pr-right img{
    width:100%;
    height:100%;
    border-radius: 15px;
    object-fit:cover;
    transition: all 0.2s ease-in-out;
}
.pr-right img:hover{
    transform: scale(1.03);
}



.recent-project{
   display: flex;
   align-items: center;
   justify-content: center;
}
.recent-project span{
    font-size: 3rem;
    font-weight: bold;
    color: #2b8cfa;
    
}



@media screen and (max-width: 480px){
    .recent-project{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .projects{
        padding: 0;
    }
    .pr{
        flex-direction: column;
        padding: 10px;
    }
    .pr-left{
        padding-left: 0;
    }
}
@media (min-width: 480px) and (max-width:900px){
    .recent-project{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pr{
        flex-direction: column;
        padding: 20px;
    }
    .pr-left{
        padding-left: 0;
    }
    .projects{
        padding-left: 20px;
        padding-right: 20px;
    }
    .pr-right{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pr-right img{
        margin-top: 2rem;
        width: 90%;
        height: 100%;
    }
}